<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="false" autoReload="true" async="true" encoding="UTF-8">

	<targets>
		<target name="debugger" xsi:type="Debugger"
			layout="[${date:format=HH\:mm\:ss.fff}][${callsite:includeNamespace=false:className=true:fileName=false:includeSourcePath=false:methodName=true}] ${message}${exception:format=ToString} "/>
		<target name="file" xsi:type="File"
            layout="[${longdate}][${callsite:includeNamespace=false:className=true:fileName=true:includeSourcePath=false:methodName=true}] ${message}${exception:format=ToString}"
            fileName="${specialfolder:folder=CommonApplicationData:cached=true}/MediamtxGui/logs/log.${shortdate}.txt"
            keepFileOpen="true"
            encoding="utf-8" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="debugger"/>
		<logger name="*" minlevel="Error" writeTo="file" />
	</rules>
</nlog>